/* :root {
    --fs-xl: 5rem;
    --fs-600: 1.5rem;
    --fs-400: 0.9rem;
} */

/* @media (min-width: 40em) {
    :root{
        --fs-xl: 6rem;
        --fs-600: 3rem;
        --fs-400: 1rem;
    }
} */




.taskpage-topbar {
    width: 97%;
    height: 3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #1B51BB; */
}

.task-tabs {
    display: flex;
    column-gap: 1.5rem;
}

.task-tab {
    font-size: 1rem;
    font-style: normal;
    font-family: EuclidMedium;
    line-height: normal;
    letter-spacing: -0.32px;
    cursor: pointer;
}

.taskCTA {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.create-task {
    border-radius: 4px;
    border: 1.2px solid #1B51BB;
    background: #1B51BB;
    display: flex;
    align-items: center;
    padding: 0.6rem;
}

.filter-task,
.date-range {
    border-radius: 4px;
    border: 1.2px solid rgba(27, 81, 187, 0.5);
    display: flex;
    align-items: center;
    padding: 0.6rem;
    cursor: pointer;
}


.btn-text,
.filter-text {
    margin-left: 0.8rem;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    font-family: EuclidRegular;
}

.filter-text {
    color: rgba(27, 81, 187, 0.5);
}


/* .date-range-modal {
    background-color: #1B51BB;
    height: 600px;
    width: 25%;
} */

.board-filter-box {
    position: absolute;
    top: 100%;
    width: 30rem;
    height: 48rem;
    right: 5%;
    /* overflow-y: scroll; */
    background-color: #fff;
    padding: 1rem;
    z-index: 2;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    border-radius: 0.8rem;
    -webkit-box-shadow: 4px 0 32px 0 rgba(61, 70, 112, 0.14);
    -moz-box-shadow: 4px 0 32px 0 rgba(61, 70, 112, 0.14);
    box-shadow: 4px 0 32px 0 rgba(61, 70, 112, 0.14);
}

/* preset and create board btns */

.preset-createboard-btns {
    border: 1px solid rgba(27, 81, 187, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 5.5rem;
    /* padding: 0.3rem; */
}

.preset-btn {
    width: 48%;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    font-size: 1.1rem;
    font-family: EuclidMedium;
}

/* preset filter styles */

.preset-date-range {
    margin-top: 1rem;
}

.preset-filter {
    position: relative;
    cursor: pointer;
}

.preset-filter-select-surveyor {
    border: 1px solid rgba(213, 232, 255, 1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-family: EuclidMedium;
    margin-top: 0.9rem;
}

.preset-date-range-text {
    font-family: EuclidMedium;
    color: rgba(27, 36, 54, 1);
    font-size: 1rem;
    margin-top: 1rem;
}

.preset-date-check-box {
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid rgba(211, 220, 229, 1);
    border-radius: 0.3rem;
    cursor: pointer;
}

.preset-date-txt {
    color: rgba(132, 147, 178, 1);
    font-family: EuclidMedium;
    font-size: 1rem;
}

.preset-clear-btn {
    border: 1px solid rgba(27, 81, 187, 1);
    color: rgba(27, 81, 187, 1);
    font-family: EuclidMedium;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
}

/* createboard filter styles */

.create-board-filter-expand {
    margin-top: 1rem;
    overflow-y: scroll;
    height: 10rem;
    background-color: #fff;
}

.create-board-filter-expand::-webkit-scrollbar {
    display: none;
}


/* list view filter styles */

.filter-status-box{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}

.list-filter-status-btn{
    border: 1px solid rgba(132, 147, 178, 1);
    border-radius: 0.5rem;
    padding: 0.4rem 0.8rem;
    color: rgba(131, 137, 140, 1);
    cursor: pointer;

}

.task-filter-box{
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
    margin-top: 1rem;
}

.filter-text{
    color: rgba(132, 147, 178, 1);
    font-family: EuclidMedium;
    font-size: 1rem;

}